# https://www.orgroam.com/manual.html#Installation-_00281_0029
# vim ~/.local/share/applications/org-protocol.desktop
# xdg-mime default org-protocol.desktop x-scheme-handler/org-protocol # afterwards
# emacsclient -c opens a client even if none is running
[Desktop Entry]
Name=Org-Protocol
Exec=emacsclient -a "" -c "%u"
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
